/* 
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-primary, "Inter"), sans-serif;
  font-variation-settings: "wght" var(--primary-font-weight-normal, 410);
  background-image: var(
    --main-background,
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 0.2rem,
      transparent 0.2rem,
      transparent 0.4rem
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 0.2rem,
      transparent 0.2rem,
      transparent 0.4rem
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a)
  );
  background-size: cover;
  padding: 10rem 0;
}

.header {
  container-type: inline-size;
  font-family: var(--accent-font-family, "Press Start 2P"), sans-serif;
  padding: 12.2rem 0;
  margin: 0 auto 10rem;
  background-color: var(--white, #fff);
}

.header__title,
.header__subtitle {
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(4.6rem, calc(3.05385rem + 4.9231cqw), 6.5rem);
  margin-bottom: 2rem;
}

.header__subtitle {
  font-size: clamp(1.4rem, calc(0.3615rem + 2.769cqw), 2.3rem);
}

@media (width >= 43.75em) {
  .header {
    padding: 13rem 0;
  }
}
